
 
.page-header {
    padding: var(--spacing-lg);
    text-align: center;
}
.form-area {
    padding: var(--spacing-md);
    /* background-color: var(--green-lime); */

    /* Create the parallax scrolling effect */

    position: relative;
    background: url(/assets/images/cityscape-night-bangkok-thailand.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

}
 
.form-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--green-lime), var(--green-lime));
    opacity: 0.93;
    z-index: -1;
}

.form-container {
    opacity: 1;
    position: relative;
    z-index: 1;
} 

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-lg);
    width: 500px;
    /* background-color: blue; */

    
}

header .container {
    z-index: 2;
}

.form-group label {
    font-weight: bold;
    font-family: var(--font-family-heading);
    margin-bottom: var(--spacing-sm);
}


input[type='submit'] {
    margin: var(--spacing-sm);
    background-color: var(--red-tomato);
    font-size: var(--font-size-lg);
    width: 100%;
}

input[type='submit']:hover {
  opacity: 80%;
}




input[type='email'], input[type='text'], input[type='tel'], select, textarea {
    margin-top: 5px;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid black;
    font-family: var(--font-family-heading);


}

input[type='text']:required, input[type='email']:required, input[type='tel']:required {
    border: 2px solid;
    border-color: red;

}

input[type='text']:valid, input[type='email']:valid, input[type='tel']:valid {
    border: 2px solid;
    border-color: green;
    font-family: var(--font-family-heading);


}

textarea {
    height: 150px;
    font-family: var(--font-family-heading);
}


.catering {
    padding: var(--spacing-lg);
    background-color: var(--brown-utils);
    color: white;
    text-align: center;
}

.catering .button {
    margin: var(--spacing-md);
    background-color: var(--orange-spicy);
}


.map iframe {
    width: 100%;
}

.contact-info-box {
    /* background-color: red;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-info-box .footer-block {
    width: 75%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-area {

}
/* 
.form-area {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

} */


@media only screen and (max-width: 767px) {

    .form-group {
        width: 100%;
    } 

    .contact-info-box {
        display: none;
    }

    

 
}