:root {
  /* Colors */
  --green-lime: #959235;
  --red-tomato: #C52D25;
  --orange-spicy: #CD6E29;
  --brown-utils: #54351F;
  --white-cream: #EAE7DC;
  --white: #fff;
  --black: #000;

  /* Font */
  --font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-heading: "Montserrat", sans-serif;
  --font-size-base: 20px;

  --font-weight-base: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;

  --line-height-base: 1.15; 

  /* Headings */
  --font-size-h1: 48px;
  --font-size-h2: 42px;
  --font-size-h3: 28px;

  --display: 36px;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  /* Border radius */
  --border-radius: 8px;

  /* Shadow */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {/* We might not use this since we are implementing bs5 grid system needed to display globals.html */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing-md);
  max-width: 1140px; 
}

/* Global Styles */
body {
  color: var(--black);
  font-family: var(--font-family-base);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-base);
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1, h2, h3 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  line-height: 1.5;}

h1 {font-size: var(--font-size-h1);}
h2 {font-size: var(--font-size-h2);}
h3 {font-size: var(--font-size-h3);}

.display {
  font-size: var(--display);
  font-weight: var(--font-weight-base);
}

a, a:visited {
  color: var(--orange-spicy);
  text-decoration: underline;
}

a:Hover {
  opacity: 80%;
}

p {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

/* buttons */
.button {
    padding: 10px 15px;
    font-family: var(--font-family-heading);
    font-size: 25px;
    font-weight: var(--font-weight-semibold);
    color: var(--white);
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.button-red {background-color: var(--red-tomato);}
.button-green {background-color: var(--green-lime);}
.button-orange {background-color: var(--orange-spicy)}