/* Carousel */
#carousel {
}

.carousel-indicators {
    position: absolute;
    bottom: 55px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 24px;
    z-index: 10;
}

.carousel-indicators button {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: none;
    background-color: var(--white-cream);
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease;
}

.carousel-indicators button:hover {
    opacity: 90%;
}

.carousel-indicators button.active {
    background-color: var(--orange-spicy);
}


.carousel-inner .carousel-item {
    display: none;
    height: 661px;
    max-height: 661px;
    overflow: hidden;
}

.control-prev,
.control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: rgba(255,255,255, 0.6);
  border: none;
  font-size: 48px;
  font-weight: 800; /* bold */
  font-family: var(--font-family-heading);
  cursor: pointer;
  z-index: 10;
  padding: 0 16px;
  line-height: 1;
  user-select: none;
}

.control-prev:hover,
.control-next:hover {
  color: rgba(255,255,255, 0.85); /* brighter on hover */
}

.control-prev {
  left: 0;
}

.control-next {
  right: 0;
}
/* Carousel ends */



/* Welcome Section */
.welcome {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

.welcome .button {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
}
/* Welcome Sections Ends */



/* Featured-Items Section */
.featured-items {
  background-color: var(--red-tomato);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.featured-items h2 {
   margin-bottom: var(--spacing-xl);
}

.featured-items .button {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
}

.featured-items .badge {
  margin-bottom: var(--spacing-md);
}
/* Featured-Items Section Ends */
