.food-menu {
  padding-top: var(--spacing-xl);
}

.menu-navbar {
  border-top: 1px solid var(--red-stroke);
  border-bottom: 1px solid var(--red-stroke);
  padding: var(--spacing-sm) 0;
  background-color: var(--white); 
  margin-top: 121px;
}

.menu-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.menu-nav li a {
  font-family: var(--font-family-heading);
  font-size: 28px;
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8; /* Less visible by default */
  transition: opacity 0.3s ease;
}

.menu-nav li a.active,
.menu-nav li a:hover {
  color: var(--red-stroke);
  opacity: 1; /* Fully visible when hovered or active */
}

.menu-nav li {
  position: relative; 
}

.menu-nav li a::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--red-stroke);
  transition: width 0.3s ease;
  border-radius: 3px;
}


.menu-nav li a:hover::after,
.menu-nav li a.active::after {
  width: 140px;
}

.menu-nav img {
  width: 88px;
  height: auto;
  position: absolute;
  top: -111px;
}

.tab-content {
  display: none;
  min-height: 25vh;
}

.tab-content.active {
  display: block;
}


/* .menu-header {
    padding: var(--spacing-lg);
    text-align: center;
}
.menu-navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-nav li {
    margin: 0 1em;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  h3 {
    text-align: center;
    padding: 30px;
  }
  
  .menu-navbar {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .menu-navbar li a img {
    max-width: 80px;
        height: auto;
        margin-bottom: 10px;
      }

  
  .menu-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .menu-nav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: large;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu-nav li a:hover,
  .menu-nav li a:focus {
    color: var(--red-tomato);
  } */